body {
    background-color: #57879B;
    width: 97%;
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    
}

::-webkit-scrollbar {
    display: none;
}

.tabla_noticias{
    background-color: #38A6D6;
    width: 100%;
    border-radius: 20px;
    border: 1;
}

#titulo{
    background-color: #fff;
    width: 97%;
    margin: auto;
    border-radius: 20px;
    height: 10%;
    margin-bottom: 30px;

}

.tituloSitio {
    width: 100%;
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 40px; 
    margin-left: -30px; 
    letter-spacing: 5px;
}

.titulo {
    width: 40%;
    font-family: "Poppins", sans-serif;
    color: black;
    text-align: center;
    padding: 10px;
}

.fecha {
    width: 40%;
    text-align: right;
    padding: 10px;
}

.imagen {
    width: 40%;
    text-align: center;
    padding: 10px;
}

.descripcion {
    width: 40%;
    padding: 10px;
}

.categorias {
    width: 20%;
    padding: 10px;
    text-align: center;
}

.url {
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
}

.contenedor {
    position: relative;
}

.listaDesplegable {
    position: absolute;
    /* Posiciona la lista justo debajo del botón */
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    border-radius: 10px;
    margin-left: 10px;
    /* Inicialmente oculta la lista desplegable */
}

#btn_titulo{
    padding: 5px;
    background-color: #38A6D6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    width: 85px;
    margin-bottom: 5px;
}

#btn_titulo:hover{
    background-color: #2E8CB8;
}

#btn_fecha{
    padding: 5px;
    background-color: #38A6D6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    width: 85px;
}

#btn_fecha:hover{
    background-color: #2E8CB8;
}

.listaDesplegable.visible {
    display: block;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    width: 97%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    font-family: "Poppins", sans-serif;

}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    font-family: "Poppins", sans-serif;
    color: #fff;

}

.nav-tabs {
    border-bottom: 1px solid #57879B;
    margin-bottom: 10px;
}

.nav-tabs .nav-link {
    margin-bottom: 10px;
    background: none;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    border-color: #38A6D6;
    background-color: #38A6D6;
    margin-left: 20px;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border-color: #2E8CB8;
    background-color: #2E8CB8;
    isolation: isolate;
    color: #fff;

}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: #57879B;
    border-color: #57879B;
}

.nav-pills .nav-link {
    background: none;
    border: 0;
    border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
}

.nav-fill>.nav-link,
.nav-fill .nav-item {
    flex: 1 1 auto;
    text-align: center;
}

.nav-justified>.nav-link,
.nav-justified .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
    width: 100%;
}

.mt-5 {
    margin-top: 3rem !important;
}

#content{
    margin-bottom: 20px;
}

#buscador_text{
    color:#000;
    font-size: 15px;
}

#buscador{
    width: 30vw;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}

#buscador:focus{
    outline: none;
}

#btn_ordenar{
    padding: 5px;
    margin-left: 10px;
    background-color: #38A6D6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    width: 95px;
}

#btn_actualizar{
    padding: 5px;
    margin-left: 10px;
    background-color: #38A6D6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    width: 95px;

}

#btn_ordenar:hover{
    background-color: #2E8CB8;
}

#btn_actualizar:hover{
    background-color: #2E8CB8;
}

/* Estilos para el formulario de confirmación */
#agregarFeed {
    display: none;
    /* Inicialmente oculto */
    position: absolute;
    /*position: fixed;
    top: 50%;
    left: 50%;*/
    margin-top: -9px;
    margin-left: 19px;
    background-color: #fff;
    padding: 20px;
    z-index: 9999;
    border-radius: 0.25rem;
}

#btn_cancelar {
    padding: 5px;
    background-color: #38A6D6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    width: 95px;
    margin-left: 10px;
}

#btn_cancelar:hover {
    background-color: #2E8CB8;
}

#btn_agregar {
    padding: 5px;
    background-color: #38A6D6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    width: 95px;
}

#btn_agregar:hover {
    background-color: #2E8CB8;
}

#input_link{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#input_link:focus{
    outline: none; 
    
}